<div ng-include="'/static/templates/general/navbar.html'"></div>

<header class="masthead">
  <div class="container">
    <div class="intro-text">
      <div class="intro-lead-in">Notre charte</div>
      <div class="intro-heading"></div>
    </div>
  </div>
</header>

<section class="central-container row">
    <div class="central-text-container">
        Nous nous engageons à élaborer notre carte dans le respect des … ci-dessous : <br><br>

        Utiliser des produits de saison<br>
        Nos produits serons autant que possible bio et locaux<br>
        Tout ce qu’on ne trouve pas en France, toujours bio. <br>
        Les produits locaux, seront autant que possible bio, mais nous serons regardantes sur le goût,
        et pourrons privilégier un producteur non bio, s’il est local, travaille de façon raisonnée
        et propose des produits plus savoureux.<br><br>

        Toujours une option vegan, une option végétarienne<br>
        Nos salades seront toujours sans gluten<br>

   </div>
</section>