<div class="cy-contour-white">
    <div class="cy-contour">
        <div class="cy-container">
            <div ng-include="'/static/templates/general/navbar.html'"></div>
            <div class="main-container" style="min-height:100%;">
                <div layout="column" flex-offset="25" flex="50">
                    <h4 class="text-centered" style="margin-top:150px; margin-bottom:2%;">
                        Vous êtes sur le point de réclamer un nouveau mot de passe. <br><br>
                        En cliquant sur "Envoyer", vous recevrez un email contenant un lien vous permettant de renouveller votre mot de passe.
                    </h4>
                    <h4 class="text-centered" style="color:red; margin-top:15px; margin-bottom:2%;">
                        Attention, ce lien n'est valable que 24h, nous vous recommandons donc de changer votre mot de passe dès réception de l'email.
                    </h4>
                    <div style="margin: 2% auto 15% auto; width:30%;" layout="column" flex="40">
                        <form role="form">
                            <div class="alert alert-danger" ng-show="login_error" ng-bind="login_error"></div>
                            <div class="form-group">
                                <label class="quicksand-md" for="login__email">Email *</label>
                                <input style="font-size:20px; border-radius: 0; background-color:#f8e4c8;"
                                       id="login__email"
                                       name="email"
                                       type="email"
                                       class="form-control"
                                       ng-model="login.email"
                                       ng-required="1"
                                       oninvalid="this.setCustomValidity('Champ obligatoire')"
                                       oninput="setCustomValidity('')"
                                       ng-change="checkLoginEmail()"/>
                            </div>
                            <md-button
                                    ng-click="cancelRecovery()"
                                    class="md-primary md-raised cy-button">
                                Retour
                            </md-button>
                            <md-button
                                    ng-click="processRecovery()"
                                    ng-disabled="disableButton"
                                    class="md-primary md-raised cy-button">
                                Envoyer
                            </md-button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div ng-include="'/static/templates/general/footer.html'"></div>
    </div>
</div>
<!--</div>-->


